@import './styles/reset.scss';
@import './styles/components.scss';
@import './styles/typography.scss';

:root {
  font-family: 'Montserrat', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #fff;
  background: radial-gradient(86.9% 86.9% at 50% 13.1%, #292020 0%, #000000 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
}

.container {
  margin: 32px auto 100px;
  display: flex;
  flex-direction: column;
  max-width: 1125px;

  &.about {
    max-width: 960px;
  }
}

.mb20 {
  margin-bottom: 20px;
}

.mb32 {
  margin-bottom: 32px;
}

.mobile_warning {
  display: none;

}

@media (max-width: 900px) {
  .container {
    display: none;
  }
  .mobile_warning {
    position: absolute;
    display: block;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: radial-gradient(86.9% 86.9% at 50% 13.1%, #292020 0%, #000000 100%);
  }

  .mobile_warning__content {
    margin: 194px 16px;
    text-align: center;

    & h2 {
      font-family: "Unbounded", serif;
      font-weight: 700;
      font-size: 32px;
      line-height: 44px;
    }

    & h4 {
      font-weight: 500;
    }
  }
}