.header {
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 52px;

  & ul {
    display: flex;
    align-items: center;
    gap: 32px;

    & li {
      text-transform: uppercase;

      &.dropdown-container {
        display: flex;
        align-items: center;
        gap: 4px;
        position: relative;

        &:hover .dropdown {
          display: flex;
        }
      }

      & .dropdown {
        display: none;
        position: absolute;
        background-color: #1E1D1D;
        flex-direction: column;
        left: -50%;
        top: 100%;
        z-index: 2;
        padding: 20px;
        border-radius: 16px;
        gap: 12px;
        width: 130px;

        & a {
          padding-bottom: 12px;
          border-bottom: 1px solid rgba(255, 255, 255, 0.31);

          &:last-child {
            border-bottom: none;
            padding-bottom: 0;
          }
        }
      }



      & a.active {
        position: relative;
        color: #FB0203;
      }
    }
  }
}

.contacts {
  display: flex;
  align-items: center;
  gap: 32px;

  &__links {
    display: flex;
    gap: 12px;
  }

  &__sv {
    color: #FF393D;
    border: 1px solid #FF393D;
  }

  &__tg {
    background-color: #E40C00;
  }

  &__sv, &__tg {
    padding: 11px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    line-height: 24px;
  }
}





.tag {
  padding: 4.5px 14px;
  font-weight: 600;
  border-radius: 12px;
  color: #fff;

  &.small {
    padding: 2.7px 9px;
    font-size: 9px;
    line-height: 13.56px;
  }

  &.outline {
    border-radius: 29px;
    position: relative;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 8.5px 16px 8.5px 16px;
    display: flex;
    align-items: center;
    gap: 6px;

    & .round {
      height: 16px;
      width: 16px;
      border-radius: 50%;

      &.pink {
        background-color: #DDABD0;
      }

      &.green {
        background-color: #00A28F;
      }

      &.purple {
        background-color: #9D98CE;
      }
    }
  }



  &.pink {
    background-color: #E500F5;
  }

  &.red {
    background-color: #E40C00;
  }

  &.green {
    background-color: #08B160;
  }

  &.blue {
    background-color: #004EE4;
  }

  &.purple {
    background-color: #7621E0;
  }
}

.focus {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &-info {
    display: flex;
    align-items: center;
    gap: 12px;

    & span {
      font-size: 22px;
      line-height: 33px;
    }

    &__tag {
      background-color: #FFF;
      color: #101010;
    }
  }
}

.card {
  background-color: rgba(31, 31, 31, 0.8);
  border-radius: 16px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}

.cards-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 22px;
  margin-bottom: 32px;

  & .card {
    flex-grow: 1;
    flex-shrink: 1;
    padding: 32px;
    display: flex;
    flex-direction: column;
  }

  &__smile {
    font-size: 70px;
    margin-bottom: 12px;
  }

  &__title {
    margin-bottom: 4px;
  }

  &__subtitle {
    color: rgba(255, 255, 255, .7);
    margin-bottom: 12px;
  }

  &__dates {
    color: rgba(255, 255, 255, .7);
  }
}

.cases {
  margin-top: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 109px 109px;
  gap: 20px;

  & .case {
    background-color: rgba(31, 31, 31, 0.82);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
  }
}

.company-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 123px;
  gap: 32px;
  margin-bottom: 32px;

  &.red {
    h4 {
      color: #E40C00
    }
  }

  &.blue {
    h4 {
      color: #0083F1;
    }
  }

  &.green {
    h4 {
      color: #96E4CD;
    }
  }

  &.dark-red {
    h4 {
      color: #E40038;
    }
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(31, 31, 31, 0.82);
  }
}

.company-grant {
  padding: 32px;
  margin-bottom: 32px;
  &__header {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .tag {
    }
  }

  &__chips {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 20px;
    margin-bottom: 24px;
  }

  &__title {
    font-weight: 600;
    margin-bottom: 12px;
    & strong {
      font-weight: 800;
    }
  }

  &__case {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    & h4 {
      color: #A1A1A1;
    }
  }

  &__photo {
    margin-top: 32px;

    &-container {
      margin-top: 32px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.company-results {
  padding: 34px 0;
  text-align: center;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 52px;

  & span {
    color: #43CD72;
  }
}

.other-case {
  line-height: 44.8px;
  margin-bottom: 20px;

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 302px 302px;
    gap: 52px 75px
  }

  &__card {
    background-color: #1C1C1C;
    padding: 20px 20px 0 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
  }

  &__photo {
    position: relative;
    z-index: 5;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__background {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap:20px
  }

  &__footer {
    & h5 {
      font-size: 22px;
      line-height: 30.8px;
    }
  }
}