.xxl {
  font-size: 32px;
  line-height: 40px;
}

.xl {
  font-size: 28px;
  line-height: 40px;
}

.l {
  font-size: 24px;
  line-height: 33.6px;
}

.m {
  font-size: 20px;
  line-height: 30px;
}

.s {
  font-size: 18px;
  line-height: 25px;
}

.xs {
  font-size: 16px;
  line-height: 22.4px;
}

.xxs {
  font-size: 14px;
  line-height: 21px;
}

.medium {
  font-weight: 500;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.extra-bold {
  font-weight: 800;
}

.black {
  font-weight: 900;
}